.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.fixed{
    top: 20px;
    left: 20px;
    z-index: 999;
    position: absolute;
}